node_modules/
dist
.DS_Store
pulse.json
veil-circuit/build/
veil-contract/target/


# Ignore environment variable files, but keep the example files
.env*
!.env.example
PulseMFB - External API Dev.postman_collection.json
